<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>不限</string>
		<key>img1</key>
		<string>select0_1</string>
		<key>img2</key>
		<string>select0_2</string>
		<key>sport1</key>
		<string>BSLX_0000</string>
		<key>sport2</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>篮球</string>
		<key>img1</key>
		<string>select1_1</string>
		<key>img2</key>
		<string>select1_2</string>
		<key>sport1</key>
		<string>1</string>
		<key>sport2</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>足球</string>
		<key>img1</key>
		<string>select2_1</string>
		<key>img2</key>
		<string>select2_2</string>
		<key>sport1</key>
		<string>2</string>
		<key>sport2</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乒乓球</string>
		<key>img1</key>
		<string>select3_1</string>
		<key>img2</key>
		<string>select3_2</string>
		<key>sport1</key>
		<string>BSLX_0005</string>
		<key>sport2</key>
		<string>YDLX_0003</string>
	</dict>
	<dict>
		<key>name</key>
		<string>羽毛球</string>
		<key>img1</key>
		<string>select4_1</string>
		<key>img2</key>
		<string>select4_2</string>
		<key>sport1</key>
		<string>BSLX_0004</string>
		<key>sport2</key>
		<string>YDLX_0004</string>
	</dict>
	<dict>
		<key>name</key>
		<string>跑步</string>
		<key>img1</key>
		<string>select9_1</string>
		<key>img2</key>
		<string>select9_2</string>
		<key>sport1</key>
		<string>BSLX_0003</string>
		<key>sport2</key>
		<string>YDLX_0009</string>
	</dict>
	<dict>
		<key>name</key>
		<string>网球</string>
		<key>img1</key>
		<string>select6_1</string>
		<key>img2</key>
		<string>select6_2</string>
		<key>sport1</key>
		<string>BSLX_0007</string>
		<key>sport2</key>
		<string>YDLX_0006</string>
	</dict>
	<dict>
		<key>name</key>
		<string>游泳</string>
		<key>img1</key>
		<string>select7_1</string>
		<key>img2</key>
		<string>select7_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0007</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高尔夫</string>
		<key>img1</key>
		<string>select8_1</string>
		<key>img2</key>
		<string>select8_2</string>
		<key>sport1</key>
		<string>BSLX_0008</string>
		<key>sport2</key>
		<string>YDLX_0008</string>
	</dict>
	<dict>
		<key>name</key>
		<string>健身</string>
		<key>img1</key>
		<string>select19_1</string>
		<key>img2</key>
		<string>select19_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0019</string>
	</dict>
	<dict>
		<key>name</key>
		<string>跆拳道</string>
		<key>img1</key>
		<string>select10_1</string>
		<key>img2</key>
		<string>select10_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0010</string>
	</dict>
	<dict>
		<key>name</key>
		<string>棋牌</string>
		<key>img1</key>
		<string>select15_1</string>
		<key>img2</key>
		<string>select15_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0015</string>
	</dict>
	<dict>
		<key>name</key>
		<string>台球</string>
		<key>img1</key>
		<string>select5_1</string>
		<key>img2</key>
		<string>select5_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0005</string>
	</dict>
	<dict>
		<key>name</key>
		<string>保龄球</string>
		<key>img1</key>
		<string>select21_1</string>
		<key>img2</key>
		<string>select21_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0021</string>
	</dict>
	<dict>
		<key>name</key>
		<string>排球</string>
		<key>img1</key>
		<string>select13_1</string>
		<key>img2</key>
		<string>select13_2</string>
		<key>sport1</key>
		<string>BSLX_0006</string>
		<key>sport2</key>
		<string>YDLX_0013</string>
	</dict>
	<dict>
		<key>name</key>
		<string>户外</string>
		<key>img1</key>
		<string>select16_1</string>
		<key>img2</key>
		<string>select16_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0016</string>
	</dict>
	<dict>
		<key>name</key>
		<string>攀岩</string>
		<key>img1</key>
		<string>select22_1</string>
		<key>img2</key>
		<string>select22_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0022</string>
	</dict>
	<dict>
		<key>name</key>
		<string>轮滑</string>
		<key>img1</key>
		<string>select23_1</string>
		<key>img2</key>
		<string>select23_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0023</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滑板</string>
		<key>img1</key>
		<string>select24_1</string>
		<key>img2</key>
		<string>select24_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0024</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滑雪</string>
		<key>img1</key>
		<string>select14_1</string>
		<key>img2</key>
		<string>select14_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0014</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滑冰</string>
		<key>img1</key>
		<string>select25_1</string>
		<key>img2</key>
		<string>select25_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0025</string>
	</dict>
	<dict>
		<key>name</key>
		<string>射击</string>
		<key>img1</key>
		<string>select26_1</string>
		<key>img2</key>
		<string>select26_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0026</string>
	</dict>
	<dict>
		<key>name</key>
		<string>射箭</string>
		<key>img1</key>
		<string>select11_1</string>
		<key>img2</key>
		<string>select11_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0011</string>
	</dict>
	<dict>
		<key>name</key>
		<string>自行车</string>
		<key>img1</key>
		<string>select27_1</string>
		<key>img2</key>
		<string>select27_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0027</string>
	</dict>
	<dict>
		<key>name</key>
		<string>马术</string>
		<key>img1</key>
		<string>select28_1</string>
		<key>img2</key>
		<string>select28_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0028</string>
	</dict>
	<dict>
		<key>name</key>
		<string>击剑</string>
		<key>img1</key>
		<string>select29_1</string>
		<key>img2</key>
		<string>select29_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0029</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拳击</string>
		<key>img1</key>
		<string>select30_1</string>
		<key>img2</key>
		<string>select30_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0030</string>
	</dict>
	<dict>
		<key>name</key>
		<string>武术</string>
		<key>img1</key>
		<string>select31_1</string>
		<key>img2</key>
		<string>select31_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0031</string>
	</dict>
	<dict>
		<key>name</key>
		<string>体育舞蹈</string>
		<key>img1</key>
		<string>select32_1</string>
		<key>img2</key>
		<string>select32_2</string>
		<key>sport1</key>
		<string>BSLX_0009</string>
		<key>sport2</key>
		<string>YDLX_0032</string>
	</dict>
	<dict>
		<key>name</key>
		<string>橄榄球</string>
		<key>img1</key>
		<string>select17_1</string>
		<key>img2</key>
		<string>select17_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0017</string>
	</dict>
	<dict>
		<key>name</key>
		<string>棒球</string>
		<key>img1</key>
		<string>select33_1</string>
		<key>img2</key>
		<string>select33_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0033</string>
	</dict>
	<dict>
		<key>name</key>
		<string>帆船</string>
		<key>img1</key>
		<string>select34_1</string>
		<key>img2</key>
		<string>select34_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0034</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赛车</string>
		<key>img1</key>
		<string>select12_1</string>
		<key>img2</key>
		<string>select12_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0012</string>
	</dict>
	<dict>
		<key>name</key>
		<string>极限</string>
		<key>img1</key>
		<string>select35_1</string>
		<key>img2</key>
		<string>select35_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0035</string>
	</dict>
	<dict>
		<key>name</key>
		<string>飞镖</string>
		<key>img1</key>
		<string>select36_1</string>
		<key>img2</key>
		<string>select36_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0036</string>
	</dict>
	<dict>
		<key>name</key>
		<string>电子竞技</string>
		<key>img1</key>
		<string>select37_1</string>
		<key>img2</key>
		<string>select37_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0037</string>
	</dict>
	<dict>
		<key>name</key>
		<string>其他</string>
		<key>img1</key>
		<string>select20_1</string>
		<key>img2</key>
		<string>select20_2</string>
		<key>sport1</key>
		<string>BSLX_0010</string>
		<key>sport2</key>
		<string>YDLX_0020</string>
	</dict>
	<dict>
		<key>name</key>
		<string>登山</string>
		<key>img1</key>
		<string>select18_1</string>
		<key>img2</key>
		<string>select18_2</string>
		<key>sport1</key>
		<string></string>
		<key>sport2</key>
		<string>YDLX_0018</string>
	</dict>
</array>
</plist>
